.info {
    width: 28%;
    position: relative;
    z-index: 5;
    background-color: #B6CCFE;
    border-radius: 10px;
    display: flex;
    transition: 4s;
}

.info div .hide {
    display: none;
}

.info div .nothidden {
    display: block;
}

.info div div {
    width: 100%;
}

.info div {
    width: 80%;
    margin: 10px auto 0 auto;
    position: relative;
}

.info div button{
    position: absolute;
    border: none;
    /* background-color: rgba(69, 123, 157, .5); */
    background-color: #6f99fa;
    border-radius: 5px;
    color: #F8F7FF;
    padding: 10px 20px;
    bottom: 0;
    margin-bottom: 20px;
    left: 0;

}


.info div p{
    font-size: 19px;
}

.info div h3{
    width: 90%;
}

.sky{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.sky h4 {
    float: left;
    font-weight: 400;
}

.sky img {
    height: 50px
}

    .info .krestic {
        height: 40px;
        width: 40px;
        right: 0;
        margin-top: 0;

        position: absolute;
    }

        .info .krestic::after, .krestic::before {
            content: '';
            width: 90%;
            top: 15px;
            left: 2px;
            position: absolute;
            height: 4px;
            border-radius: 2px;
            background-color: black;
        }

        .info .krestic::before {
            transform: rotate(45deg);
        }

        .info .krestic::after {
            transform: rotate(-45deg);
        }


.active {
    position: relative;
    width: 60%;
    height: 280px;
    margin: 1% 1% 0 1%;
    top: 0;
    right: 0;
    z-index: 10;
}

.default {
    position:relative;
    left: 0;
    margin: 1% 1% 0 1%;
    width: 28%;
    height: 280px;
}

@media all and (max-width:1000px){
    .default {
        height: 210px;
    }
}
@media all and (max-width:850px){
    

    .default {
        position:absolute;
        height: 210px;
    }

    .active {
        width: 95%;
        right: 1.5%;
        top: 60px;
        z-index: 7;
        position: absolute;
        box-shadow: 0 0 10px #6f99fa;
    }   


    .info div h3 {
        font-size: 14px;
    }

    .info div p {
        font-size: 15px;
    }   

    .default:nth-child(1) {
        width: 98%;
        top: 0px;
        right: 0%;
        left: 0%;
    }

    .default:nth-child(2)  {
        width: 48%;
        right: 50%;
        margin-left: 1%;
        top: 220px;
    }

    .default:nth-child(3) {
        width: 48%;
        top: 220px;
        margin-left: 51%;    
    }

    .info div button {
        font-size: 12px;
    }
}