.info {
    width: 28%;
    position: relative;
    z-index: 5;
    background-color: #B6CCFE;
    border-radius: 10px;
    display: flex;
}

.info div .hide {
    display: none;
}

.info div .nothidden {
    display: block;
}

.info div div {
    width: 100%;
}

.info div {
    width: 80%;
    margin: 10px auto 0 auto;
    position: relative;
}

.info div button{
    position: absolute;
    border: none;
    /* background-color: rgba(69, 123, 157, .5); */
    background-color: #6f99fa;
    border-radius: 5px;
    color: #F8F7FF;
    padding: 10px 20px;
    bottom: 0;
    margin-bottom: 20px;
    left: 0;

}


.info div p{
    font-size: 19px;
}

.info div h3{
    width: 90%;
}

.sky{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.sky h4 {
    float: left;
    font-weight: 400;
}

.sky img {
    height: 50px
}

    .info .krestic {
        height: 40px;
        width: 40px;
        right: 0;
        top: 10px;
        position: absolute;
    }

        .info .krestic::after, .krestic::before {
            content: '';
            width: 90%;
            position: absolute;
            height: 4px;
            border-radius: 2px;
            background-color: black;
        }

        .info .krestic::before {
            transform: rotate(45deg);
        }

        .info .krestic::after {
            transform: rotate(-45deg);
        }


.active {
    position: relative;
    width: 60%;
    height: 280px;
    margin: 1% 1% 0 1%;
    z-index: 10;
}

.default {
    position:relative;
    left: 0;
    margin: 1% 1% 0 1%;
    width: 28%;
    height: 280px;
}

@media all and (max-width:1000px){
    .default {
        height: 210px;
    }
}
@media all and (max-width:850px){
    
    .active {
        width: 98%;
    }

    .default:nth-child(1){
        margin-bottom: 0;
    }

    .info div h3 {
        font-size: 16px;
    }

    .info div p {
        font-size: 15px;
    }

    .info:nth-child(1) {
        width: 98%;
    }

    .info:nth-child(2)  {
        width: 48%;
        float: left;
    }

    .info:nth-child(3) {
        float: right;
        width: 48%;
    }

    .info div button {
        font-size: 12px;
    }
}