.content {
    width: 100%;
    margin: 10px 0 0 0;
    /* background-color: white;#fafafa */
    background-color: #E2EAFC;
    border-radius: 10px;
    display: block;
    min-height: 400px;
    box-shadow: 0 0 6px rgb(93, 93, 95);
}