.chart {
    width: 70%;
    height: 300px;
}

.info {
    width: 28%;
    height: 280px;
    text-align: center;
    margin: 10px auto 0 auto;
    z-index: 5;
    transition: .6s;
    background-color: #A8DADC;
    border-radius: 10px;
}

.info p,h3{
    width: calc(95%);
}

.krestic {
    height: 50px;
    width: 80px;
    right: 0;
    position: absolute;
}

.krestic::after, .krestic::before {
    content: '';
    width: 40px;
    position: absolute;
    margin-top:20px;
    margin-bottom: 5px;
    height: 5px;
    background-color: black;
}

.krestic::before {
    transform: rotate(45deg);
}

.krestic::after {
    transform: rotate(-45deg);
}

.transition {
    transition: .4s;
}