.error {
    text-align: center;
    background-color: #E2EAFC;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    div p {
        font-size: 22px;
    }
    div h2 {
        font-size: 40px; 
    }
    img {
        height: 400px;
    }
    @media all and (max-width: 830px){
        img {
            height: 350px;
        }
        div p {
            font-size: 17px;
        }
        div h2 {
            font-size: 30px;
        }
    }
    @media all and (max-width: 530px){
        img {
            height: 270px;
        }
    }
    @media all and (max-width: 340px){
        img {
            height: 200px;
        }
    }
}