@keyframes loading {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.second-loading-spinner div {
  position: absolute;
  width: 71px;
  height: 71px;
  border: 9px solid #5bbbe1;
  border-top-color: transparent;
  border-radius: 50%;
}
.second-loading-spinner div {
  animation: loading 0.9s linear infinite;
  top: 50px;
  left: 50px
}
.loading-spinner-rolling {
  width: 98px;
  height: 98px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.second-loading-spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.98);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.second-loading-spinner div { box-sizing: content-box; }